@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
	background: #2c3e50;
}
nav{
	position: relative;
	margin: 0 auto 0;
	width: 297px;
	height: 30px;
	background: #34495e;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav a{
	font-size: 8px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 28px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: #1abc9c;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){
	width: 59px;
}
/* nav .start-home, a:nth-child(1):hover~.animation{
	width: 60px;
	left: 0;
	
} */
nav .active-link{
	width: 60px;
	left: 0;
	height: 100%;
	z-index: 0;
	background: #1abc9c;
	border-radius: 8px;
	transition: all .5s ease 0s;
	
}
nav a:nth-child(2){
	width: 60px;
}
/* nav a:nth-child(2):hover~.animation{
	width: 59px;
	left: 60px;
} */
nav a:nth-child(3){
	width: 59px;
}
/* nav a:nth-child(3):hover~.animation{
	width: 60px;
	left: 120px;
} */
nav a:nth-child(4){
	width: 60px;
}
/* nav a:nth-child(4):hover~.animation{
	width: 59px;
	left: 180px;
} */
nav a:nth-child(5){
	width: 59px;
}
/* nav a:nth-child(5):hover~.animation{
	width: 59px;
	left: 240px;
	
} */
