.settings{
    cursor: default;
    border-radius: .5rem;
    background-color: $body-color;
    width: 35%;
    height: 80vh;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 10;
    color: black;
    display: grid;
    grid-template-rows: 1fr auto;

    span {
        font-size: 2rem;
        color: $icon-color;

        &.icon {
            transform: scale(.5);
        }
    }
    &__header {
        background-color: $white;
        @include flex;
    }

    &__title {
        margin-left: 2rem;
    }

    &__buttons {
        button {
            padding: 2rem;
        }
    }

    &__body{
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 5px;
          } 
        &::-webkit-scrollbar-track {
            background: $gray; 
          }
        &::-webkit-scrollbar-thumb {
            background-color: lighten($icon-color, 10%) ;   
            border: 1px solid $gray;
        }
    }
    &__picture {
        background-color: $white;
        padding: 2rem;
        margin-bottom: 1rem;
        @include flex(center, flex-start);
    }
    &__avatar {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        margin-right: 2rem;
    }

    &__name {
        p {
            font-size: .9rem;
            color: $link-color;
            margin-top: .5rem;
        }
    }
    &__main {
        background-color: $white;
        padding: 2rem;
        margin-bottom: 1rem;
    }
    &__item {
        padding: 1rem 0;
        cursor: pointer;
        transition: background-color .3s ease;
        @include flex(center, flex-start);
        &:hover {
            background-color: $gray;
        }

        p {
            margin-left: 2rem;
            font-weight: 600;
        }
    }
    &__interface{
        background-color: $white;
        padding: 2rem;
        margin-bottom: 1rem;

        .default{
            @include flex(center, flex-start);
            padding: 1rem 0;
            p{
                margin-left: 2rem;
                font-weight: 600;  
            } 
            span{
                margin-left: .5rem;
                transform: scale(.7);  
            } 
            &:hover {
                background-color: $gray;
            }
        }
        .scale-list{
            margin-top: 1rem;
            @include flex;

        }
        .scale-per{
            cursor: pointer;
            border-top: 4px solid $gray;
            padding: .7rem;

        &.active{
            border-top: 4px solid $link-color; 
            color: $link-color;
        }
        }
    }
    &__footer{
        background-color: $white;
        padding: 2rem;

        .footer-item{
            padding: 1rem 0rem;
            cursor: pointer;
            transition: background-color .3s ease;
            &:hover {
                background-color: $gray;
            } 
            p{
                margin-left: 6rem;  
            }
            &:first-child {
                @include flex(center, flex-start);
        
                p {
                    margin-left: 2rem;
                    font-size: 1.2rem;
                }
            } 
           
        }

    }
}