<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="{% static 'login/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
</head>
<body>
 <div class="container">
 	<div class="header">
 		<h1>login</h1>
 	</div>
 	<div class="main">
 		<form method="post" > {% csrf_token %}
 			<span>
 				<i class="fa fa-user"></i>
 				<input type="text" placeholder="Username" name="username">
 			</span><br>
 			<span>
 				<i class="fa fa-lock"></i>
 				<input type="password" placeholder="password" name="password">
 			</span><br>
 				<button>login</button>

 		</form>
 	</div>
 </div>
</body>
</html>